In [3]:
from helpers import gen_metadata_df

In [5]:
gen_metadata_df(3, [0,1,2])

   mapobject_id cell_cycle cat  int64   float64  uint16
0             0        wdU   k      2  0.557330       4
1             1       bBnT   Y    -22  0.961018     182
2             2       None   h     16  0.501531     194