In [4]:
import importlib
import sys
sys.path.append('..')

import miann.data._data
from miann.data._data import MPPData
from miann.constants import DATA_DIR
importlib.reload(miann.data._data)

import logging
logging.basicConfig()
import os

In [5]:
mpp_data = MPPData.from_data_dir(os.path.join(DATA_DIR, '184A1_hannah_unperturbed/I09'))

In [7]:
mpp_data.metadata

,mapobject_id,plate_name,well_name,well_pos_y,well_pos_x,tpoint,zplane,label,is_border,mapobject_id_cell,...,label_cell,is_border_cell,is_mitotic,is_mitotic_labels,is_polynuclei_HeLa,is_polynuclei_HeLa_labels,is_polynuclei_184A1,is_polynuclei_184A1_labels,is_SBF2_Sphase_labels,is_SBF2_Sphase
0,373530,plate01,I09,0,0,0,0,1,0,373501,...,1,1,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
3,373533,plate01,I09,0,0,0,0,4,0,373504,...,4,1,0.0,NaN,0.0,NaN,1.0,NaN,NaN,1.0
5,373535,plate01,I09,0,0,0,0,6,0,373506,...,6,0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
6,373536,plate01,I09,0,0,0,0,7,0,373507,...,7,0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0
7,373537,plate01,I09,0,0,0,0,8,0,373508,...,8,0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,248104,plate01,I09,5,4,0,0,39,0,248059,...,39,1,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
1116,248105,plate01,I09,5,4,0,0,40,0,248060,...,40,1,1.0,NaN,1.0,NaN,0.0,NaN,NaN,0.0
1117,248106,plate01,I09,5,4,0,0,41,0,248061,...,41,1,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
1119,248108,plate01,I09,5,4,0,0,43,0,248063,...,43,1,0.0,NaN,0.0,NaN,0.0,NaN,NaN,1.0
1120,248109,plate01,I09,5,4,0,0,44,0,248064,...,44,0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0

In [9]:
df = mpp_data.channels

In [13]:
import pandas as pd

In [16]:
channels = pd.read_csv(os.path.join(mpp_data.data_dir, 'channels.csv'), names=['channel_id', 'name'], index_col=0)

In [22]:
import numpy as np

In [27]:
np.load?

Signature: np.load(file, mmap_mode=None, allow_pickle=False, fix_imports=True, encoding='ASCII')
Docstring:
Load arrays or pickled objects from ``.npy``, ``.npz`` or pickled files.

.. warning:: Loading files that contain object arrays uses the ``pickle``
             module, which is not secure against erroneous or maliciously
             constructed data. Consider passing ``allow_pickle=False`` to
             load data that is known not to contain object arrays for the
             safer handling of untrusted sources.

Parameters
----------
file : file-like object, string, or pathlib.Path
    The file to read. File-like objects must support the
    ``seek()`` and ``read()`` methods. Pickled files require that the
    file-like object support the ``readline()`` method as well.
mmap_mode : {None, 'r+', 'r', 'w+', 'c'}, optional
    If not None, then memory-map the file, using the given mode (see
    `numpy.memmap` for a detailed description of the modes).  A
    memory-mapped array is kept on disk. However, it can be accessed
    and sliced like any ndarray.  Memory mapping is especially useful
    for accessing small fragments of large files without reading the
    entire file into memory.
allow_pickle : bool, optional
    Allow loading pickled object arrays stored in npy files. Reasons for
    disallowing pickles include security, as loading pickled data can
    execute arbitrary code. If pickles are disallowed, loading object
    arrays will fail. Default: False

    .. versionchanged:: 1.16.3
        Made default False in response to CVE-2019-6446.

fix_imports : bool, optional
    Only useful when loading Python 2 generated pickled files on Python 3,
    which includes npy/npz files containing object arrays. If `fix_imports`
    is True, pickle will try to map the old Python 2 names to the new names
    used in Python 3.
encoding : str, optional
    What encoding to use when reading Python 2 strings. Only useful when
    loading Python 2 generated pickled files in Python 3, which includes
    npy/npz files containing object arrays. Values other than 'latin1',
    'ASCII', and 'bytes' are not allowed, as they can corrupt numerical
    data. Default: 'ASCII'

Returns
-------
result : array, tuple, dict, etc.
    Data stored in the file. For ``.npz`` files, the returned instance
    of NpzFile class must be closed to avoid leaking file descriptors.

Raises
------
IOError
    If the input file does not exist or cannot be read.
ValueError
    The file contains an object array, but allow_pickle=False given.

See Also
--------
save, savez, savez_compressed, loadtxt
memmap : Create a memory-map to an array stored in a file on disk.
lib.format.open_memmap : Create or load a memory-mapped ``.npy`` file.

Notes
-----
- If the file contains pickle data, then whatever object is stored
  in the pickle is returned.
- If the file is a ``.npy`` file, then a single array is returned.
- If the file is a ``.npz`` file, then a dictionary-like object is
  returned, containing ``{filename: array}`` key-value pairs, one for
  each file in the archive.
- If the file is a ``.npz`` file, the returned value supports the
  context manager protocol in a similar fashion to the open function::

    with load('foo.npz') as data:
        a = data['a']

  The underlying file descriptor is closed when exiting the 'with'
  block.

Examples
--------
Store data to disk, and load it again:

>>> np.save('/tmp/123', np.array([[1, 2, 3], [4, 5, 6]]))
>>> np.load('/tmp/123.npy')
array([[1, 2, 3],
       [4, 5, 6]])

Store compressed data to disk, and load it again:

>>> a=np.array([[1, 2, 3], [4, 5, 6]])
>>> b=np.array([1, 2])
>>> np.savez('/tmp/123.npz', a=a, b=b)
>>> data = np.load('/tmp/123.npz')
>>> data['a']
array([[1, 2, 3],
       [4, 5, 6]])
>>> data['b']
array([1, 2])
>>> data.close()

Mem-map the stored array, and then access the second row
directly from disk:

>>> X = np.load('/tmp/123.npy', mmap_mode='r')
>>> X[1, :]
memmap([4, 5, 6])
File:      ~/opt/miniconda3/envs/pelkmans/lib/python3.7/site-packages/numpy/lib/npyio.py
Type:      function

In [30]:
np.load(os.path.join(mpp_data.data_dir, f'mpp.npy'), mmap_mode='r')

memmap([[152, 114, 113, ..., 118, 131, 289],
        [143, 112, 122, ..., 119, 123, 312],
        [137, 115, 130, ..., 109, 120, 273],
        ...,
        [167, 116, 180, ..., 115, 133, 272],
        [141, 106, 177, ..., 117, 121, 231],
        [142, 110, 193, ..., 114, 126, 188]], dtype=int32)

In [20]:
channels.reset_index(drop=True)

                 name
0               00_EU
1       01_CDK9_pT186
2           01_PABPC1
3             02_CDK7
4             03_CDK9
5             03_RPS6
6            05_GTF2B
7               05_Sm
8           07_POLR2A
9           07_SETD1A
10         08_H3K4me3
11           09_CCNT1
12           09_SRRM2
13         10_H3K27ac
14      10_POL2RA_pS2
15       11_KPNA2_MAX
16             11_PML
17  12_RB1_pS807_S811
18            12_YAP1
19          13_PABPN1
20      13_POL2RA_pS5
21            14_PCNA
22             15_SON
23        15_U2SNRNPB
24              16_H3
25           17_HDAC3
26           17_SRSF2
27            18_NONO
28       19_KPNA1_MAX
29          20_ALYREF
30           20_SP100
31            21_COIL
32             21_NCL
33            00_DAPI
34             07_H2B